img {
  max-height: auto;
  width: 35%;
  object-fit: cover;
}
mat-card {
  height: 400px;
  align-items: center;
  border-radius: 20px;
  width: 200px;
  border: 5px solid white;
}

mat-card.animated {
  animation: border-animation 2s ease infinite;
}
@keyframes border-animation {
  0% {
    border-color: #bc9c1a;
  }
  50% {
    border-color: #f1c40f;
  }
  100% {
    border-color: #826f25;
  }
}

.beer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
mat-icon {
  font-size: 50px;
}
.text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

mat-card-title,
mat-card-subtitle {
  margin-inline: auto;
  max-width: 150px;
}
mat-card-title {
  color: #000b4f;
}
