.footer-bottom {
  background-color: #000b4f;
  padding: 1rem;
  text-align: center;
}

.footer-bottom span {
  font-size: 0.8rem;
  color: #fff;
}
.position {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
