
<ng-template #divLoading>
  <div class="center">
         <mat-spinner color="accent"></mat-spinner>
  </div>
</ng-template>


<div *ngIf="beer; else divLoading" class="background">

  <mat-card class="">

    <mat-card-header>
      <mat-card-title>{{ beer.name }}</mat-card-title>
      <mat-card-subtitle>{{ beer.abv }}</mat-card-subtitle>
    </mat-card-header>


    <img [src]="beer.image_url" [alt]="beer.name" mat-card-image  />

  </mat-card>

  <mat-card class="col-12 sm:col-6 mt-8">

    <mat-card-header>
      <mat-card-title>Información</mat-card-title>
      <mat-card-subtitle>{{ beer.superhero }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-list>
        <mat-list-item>{{ beer.first_appearance }}</mat-list-item>
        <mat-list-item>{{ beer.characters }}</mat-list-item>
        <mat-list-item>{{ beer.first_brewed }}</mat-list-item>
        <mat-list-item>{{ beer.brewers_tips }}</mat-list-item>
      </mat-list>

      <button
        mat-button
        color="warn"
        (click)="goBack()"
      >
        Regresar
      </button>

    </mat-card-content>


  </mat-card>
</div>
