.center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 300px;
}
.background {
  height: 100vh;
  background-image: url("/assets/barley-field-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
  justify-content: center;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.font {
  font-weight: 500;
}
.top {
  margin-top: 200px;
}
.card {
  border-radius: 20px;
  background-color: white;
}
.icon {
  margin-right: 12px;
  color: #f1c40f;
}

h1 {
  color: #000b4f;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
  padding-left: 20px;
  position: relative;
}
.btn2 {
  display: flex;
  background-color: #000b4f !important;
  color: white !important;
  padding: 12px 24px;
  font-size: 0.8em !important;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  place-items: center;
  font-family: unset;
  margin: 4px;
}
.btn2:hover {
  background-color: #fff;
  color: #000b4f;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.6);
}

.btn2:active {
  transform: translateY(2px);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.card {
  width: min-content;
  height: fit-content;
}
.card2 {
    margin-left: 5px;
    margin-right: 5px;
    width: 600px;
}
@media screen and (max-width: 640px) {
  .card2 {
    width: 500px;
  }
}
@media screen and (max-width: 550px) {
  .card2 {
    width: 400px;
  }
}
@media screen and (max-width: 449px) {
  .card2 {
    width: 300px;
  }
}
