header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  position: sticky;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 40px;
}

.header-logo img {
  height: 80px;
}

.mat-icon {
  font-size: 30px;
  color: #000b4f;
}

.mat-icon:hover {
  color: #eda82a;
}

.btn2 {
  display: inline-block;
  background-color: white !important;
  color: white !important;
  padding: 12px 24px;
  font-size: 0.8em !important;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: unset;
}
