<header class="mat-elevation-z2">
  <div
    class="header-container justify-content-center sm:justify-content-between sm:w-12"
  >
    <div class="header-logo hidden sm:block">
      <img
        src="https://pbs.twimg.com/profile_images/1635693656039469066/sbfH1f8g_400x400.jpg"
        alt="Logo"
      />
    </div>

    <nav class="flex justify-content-center">
      <button routerLink="home" class="btn2 mr-2">
        <mat-icon>home</mat-icon>
      </button>
      <button routerLink="list" class="btn2 mr-2">
        <mat-icon>list</mat-icon>
      </button>
      <button routerLink="search" class="btn2">
        <mat-icon>search</mat-icon>
      </button>
    </nav>
  </div>
</header>
