main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url("/assets/barley-field-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main::before {
  /* superpone en la parte superior del elemento main para crear una capa transparente sobre la imagen de fondo. */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

h4 {
  font-size: 2rem;
  text-align: center;
}
main h1,
main h4 {
  z-index: 1; /* Aseguramos que el texto esté por encima del pseudo-elemento */
  color: white; /* Cambiamos el color del texto a blanco para que resalte más */
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1.5rem;
  }
}
